* {
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(98, 218, 223);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}
a {
    text-decoration: none;
    color: black;
}
li{
    list-style:none;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

nav {
    width: 80%;
}
#article{
    background-image: url(/images/bg.avif);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h2{
    text-align: center;
    color: wheat;
}
footer{
    background-color: aqua;
    height: 500%;
}
p{
    text-align: center;
    width: 15%;
    display: flex;
    height: 5%;
    margin-left: 20%;
    color: rgb(192, 185, 185);
    margin-top: 5%;
}
img{
    display: flex;
    justify-self: center;
    height: 70%;
    margin-left: 0%;
    align-items: center;
}

